{
	"port": "1883",
	"host": "0.0.0.0",
	"cluster": {
		"host": "0.0.0.0",
		"port": "1993",
		"routes": []
	},
	"tlsPort": "",
	"tlsHost": "0.0.0.0",
	"wsPort": "1888",
	"wsPath": "/ws",
	"wsTLS": false,
	"tlsInfo": {
		"verify": true,
		"caFile": "tls/ca/cacert.pem",
		"certFile": "tls/server/cert.pem",
		"keyFile": "tls/server/key.pem"
	},
	"acl": true,
	"aclConf": "conf/acl.conf"
}