{
	"workerNum": 4096,
	"port": "1883",
	"host": "0.0.0.0",
	"cluster": {
		"host": "0.0.0.0",
		"port": "1993"
	},
	"httpPort": "8080",
	"tlsPort": "8883",
	"tlsHost": "0.0.0.0",
	"wsPort": "8084",
	"wsPath": "/mqtt",
	"wsTLS": false,
	"tlsInfo": {
		"verify": false,
		"caFile": "./conf/cert/fogapi.mxchip.com.cn.crt",
		"certFile": "./conf/cert/fogapi.mxchip.com.cn.crt",
		"keyFile": "./conf/cert/fogapi.mxchip.com.cn.key"
	},
	"plugins": {
		"auth": "authhttp",
		"bridge": "rabbitmq"
	}
}
