{
	"workerNum": 4096,
	"port": "1883",
	"host": "0.0.0.0",
	"cluster": {
		"host": "0.0.0.0",
		"port": "1993"
	},
	"httpPort": "8080",
	"tlsPort": "8883",
	"tlsHost": "0.0.0.0",
	"wsPort": "1888",
	"wsPath": "/ws",
	"wsTLS": false,
	"tlsInfo": {
		"verify": true,
		"caFile": "ssl/ca/ca.pem",
		"certFile": "ssl/server/cert.pem",
		"keyFile": "ssl/server/key.pem"
	},
	"plugins": {
		"auth": "mock",
		"bridge": "csvlog"
	}
}
